
<!-- <div class="desktop_aside_menu"> -->
<div  {% if menu_select == 'white' %} class="desktop_aside_menu_w" {% endif %}
{% if menu_select == 'black' %} class="desktop_aside_menu" {% endif %}
>
	<div class="t-t">MENU</div>
	<div class="a-l"></div>
	<div class="b-l"></div>
	<div class="c-l"></div>
</div>
<div class="desktop_aside">
	<ul>
		<li><a href="index.html" class="m-first">回首頁 <img src="img/right-arrow.svg" alt=""></i></a></li>
		<li><a href="works.html" class="m-first">PORTFOLIO <img src="img/right-arrow.svg" alt=""></i></a></li>

	<!-- 	<li><a href="https://tw.mall.yahoo.com/store/%E5%87%A1%E6%AD%A2%E6%96%87%E5%89%B5:fanhsu" class="m-first">
			<div class="yahoo"><img src="img/news/yahoo.png" alt=""></div></a>
		</li> -->

	</ul>
</div>

<div class="bk_bg"></div>

