<div class="inside_header_pos">
<div class="inside_header">
	<div class="for_flex">
		<div class="row-logo">
			<a href="index.html">FROG DESIGN</a>
		</div>

		<div class="inside_menu_wh">
			<ul>
				<li><a href="index.html">INDEX</a></li>
				<li><a href="works.html">PORTFOLIO</a></li>
				<!-- <li><a href="contact.html">CONTACT</a></li> -->
				
			<!-- 	<a href="https://tw.mall.yahoo.com/store/%E5%87%A1%E6%AD%A2%E6%96%87%E5%89%B5:fanhsu" class="yahoo-btn"><img src="img/news/yahoo.png" alt=""></a> -->

				
			</ul>
		</div>
	</div>
</div>
</div>